# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
/ipch
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Nuget packages
/packages

# Visual Studio files
/.vs
/IPC.VC.VC.opendb
/IPC.VC.db
*.vcxproj.user

# Build folders
**/x64
